@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Libre Baskerville", serif;
}

input {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.151);
  color: black;
  border: none;
  outline: none;
}

input:focus {
  background-color: white;
  border: 1px solid black;
}

button:hover {
  cursor: pointer;
}

@media all and (min-width: 300px) and (max-width: 700px), 
    all and (min-width: 700px) and (max-width: 1200px) {

  #container {
    min-width: 100vh;
  }

  .enterBtn button {
    font-size: 40px;
  }

  .carsCardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .carFooter {
    width: 100vh;
  }

  .carFooter ul {
    display: flex;
  }
}
